*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%; // 62.5% of 16px is 10px, we want easy to converting sizes, and hv no effect with people that do custom set the font size for their browser
}

body {
    box-sizing: border-box;
}